security/src/main/java/com/flydean/input/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="price" type="xs:decimal"/>
                <xs:element name="quantity" type="xs:nonNegativeInteger"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>